httpx
streamlit
pandas
langchain
langchain-community
langchain-huggingface
python-docx
unstructured
pdf2image 
pytesseract
pdfminer
networkx
openpyxl
ctranslate2
transformers
sentence-transformers
sentencepiece
faiss-cpu
ctransformers
sacremoses